.part-body{
    height: 80vh;
    width: 100vw;
    padding: 0 10vh;
    /* background-color: red; */
}
.part-body .part-header{
    /* background-color: #fff; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part-header h2{
    /* background-color: rebeccapurple; */
    display: flex;
    gap: 20px;
    color: var(--theme);
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    
}
.part-body .circle{
    height: 50px;
    width: 50px;
    background-color: var(--text-2);
    color: var(--w);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
}

.part-body .part-box{
    height: 55vh;
    background-color: #fff;
    margin: 20px 0;
    border: var(--border);
    border-top: 40px solid var(--theme);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.part-box .tutorial{
    height: 100%;
    width: 100%;
    text-align: center;
}

.tutorial .tut-box{
    display: flex;
    gap: 20px;
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

.tut-box .box{
    width: 50%;
}

.tut-box .box .color{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--w);    
}

.part-body .primary{
    margin-left: 10px;
}