.student-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--radius);
  overflow: hidden;
}

.student-table th, .student-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.student-table th {
  background-color: var(--theme);
  text-align: left;
  color: var(--w);
  font-weight: 200;
}

.student-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.student-table tr:hover {
  background-color: #ddd;
}

.student-table tr.even {
  background-color: #f9f9f9;
}

.student-table tr.odd {
  background-color: #fff;
}


/* excel uploading */
.excel-upload-container {
  /* max-width: 800px; */
  margin: 20px auto;
  background-color: var(--w);
  padding: 20px 30px;
  border-radius: var(--radius);
  font-family: Arial, sans-serif;
}

.excel-format-info {
  background-color: var(--w);
  padding: 15px;
  border-radius: var(--radius);
  margin-bottom: 20px;
  display: flex;
}

.excel-format-info-left, .excel-format-info-right{
  width: 50%;
}

.excel-format-info table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.excel-format-info th {
  background-color: #eaeaea;
}

.upload-form {
  background-color: var(--w);
  /* padding: 20px; */
  border-radius: var(--radius); 
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.error-message {
  background-color: #ffebee;
  color: #d32f2f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.result-container {
  margin-top: 20px;
}

.result-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
}

.result-container th {
  background-color: #eaeaea;
}
