.dashboard-container{
    min-height: 100vh;
    display: flex;
    /* padding: 2rem 3rem; */
}

.dashboard-container .header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar-container{
    text-align: center;
    border-right: var(--border);
    /* background-color: rebeccapurple; */
    min-width: 200px;
    padding: 10px 15px;
    width: 15vw;
}

.sidebar-container .logo-container{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sidebar-container .sidebar-buttons{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.dashboard-body{
    padding: 10px 15px;
    /* background-color: rebeccapurple; */
    width: 85vw;
}

.student-form{
    background-color: whitesmoke;
    padding: 20px 30px;
    border-radius: var(--radius);
}

.student-form input{
    width: 100%;
}
.student-form .form-fields{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 0 20px;
}

/* Question creation */

.question-container{
    background-color: whitesmoke;
    padding: 20px ;
    border-radius: var(--radius);
    min-height: 85vh;
}

.question-container .parts-button{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.question-container .question-body .question-input .a-form{
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px;
    margin-bottom: 10px;
}
.question-body .question-input input{
    margin-bottom: 0;
    width: 50%;
}

.question-body .example-box{
    background-color: white;
    padding: 10px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    p{
        margin-bottom: 0;
    }
    margin-bottom: 20px;
}

/* custom part form css */
.b-form, .c-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-form .line-1, .b-form .line-2, .c-form .line-1, .c-form .line-2{   
    margin: 10px 0;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-form .line-2 input{
    width: 100%;
    justify-content: start;
}
.c-form .line-2{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.c-form .line-2 p input{
    width: 100%;
}