.disclaimer-container{
    height: 90vh;
    width: 100vw;
    padding: 2rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.disclaimer-header{
    background-color: var(--theme);
    font-size: 1.5rem;
    border-radius: var(--radius);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.disclaimer-header h1{
    color: var(--w);
}

.disclaimer-body{
    width: 100%;
}

.disclaimer-body li{
    font-size: 2vw;
}

.disclaimer-body label{
    font-size: 1.5vw;
}

.disclaimer-body input{
    width: auto;
    margin-right: 10px;
}

.disclaimer-container button{
    width: 100%;
}

.main-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5rem 1rem;
    background-color: var(--text-2);
}

.main-header h1, .main-header h2{
    color: var(--w);

}